{# extends "FOSUserBundle::layout.html.twig" #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{{ asset("favicon.ico") }}" />
        <title>Inicio de Sesi&oacute;n</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/inhack20user/css/screen.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/inhack20user/css/boton_style.css') }}" />
	
        <script type="text/javascript" src="{{ asset('bundles/inhack20user/js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/inhack20user/js/jquery.validate.js') }}"></script>

	<script type="text/javascript">
		
	$(function() {
		// highlight 
		var elements = $("input[type!='submit'], textarea, select");
		elements.focus(function(){
			$(this).parents('li').addClass('highlight');
		});
		elements.blur(function(){
			$(this).parents('li').removeClass('highlight');
		});
		
		$("#forgotpassword").click(function() {
			$("#password").removeClass("required");
			$("#login").submit();
			$("#password").addClass("required");
			return false;
		});
		
		$("#login").validate();
               
	});
	</script>
	
</head>

{% block fos_user_content %}

<div id="page">

		<div id="header">
                    <h1 align='center'>S.I.A.R.C.P.B.A.
                  </h1>
                </div>
                <div></div>

    <div id="content">
			<p id="status"></p>
			<p></p>
			<table width="306" border="0" align="center">
                        <tr align="center">
			    <th width="300" scope="col"><img src="{{ asset('bundles/inhack20user/images/logo_sistema.jpg') }}" width="216" height="196"></th>
		      </tr>
			  <tr>
			    <td align="center"><strong>Sistema De Información Automatizado Para El
                                 Registro Y Control De Pacientes En El Consultorio
                                 De Barrio Adentro
</strong></td>
		      </tr>
		  </table>
                        
                        
                <form id="login" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<fieldset>
                                    <legend>Nombre de Usuario</legend>
					<ul>
						<li>
							<label for="username"><span class="required">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</span></label>
                                                        <input id="username" name="_username" class="text required" type="text" value="{{ last_username }}"/>
							<label for="username" class="error">Usted debe ingresar su usuario</label>
						</li>
						
						<li>
                                                    <label for="password"><span class="required">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</span></label>
							<input name="_password" type="password" class="text required" id="password" minlength="4" maxlength="20" />
                                                        <label for="password" class="error">Usted debe ingresar su contrase&ntilde;a</label>
						</li>
                                                <li>
                                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                                </li>
						<li>
                                                    <div id="c_error" align="right">
                                                        <font color="red">{% if error %}
                                                                                <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                                                                            {% endif %}</font>
                                                    </div>
						</li>
					</ul>
                                        
				</fieldset>
				
				<fieldset class="submit">
					<p>&nbsp;</p>
					<table width="200" border="0" align="center">
                                            <tr align="center">
                                              <th scope="col">
                                                  <input type="submit" id="_submit" name="_submit" class="css3button" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                                              </th>
				      </tr>
				  </table>
					<p>&nbsp;</p>
                            </fieldset>
                              
                          
                                
				<div class="clear">
				  <p>&nbsp;</p>
				</div>
			</form>
			
    </div>
</div>    
    

    

{% endblock fos_user_content %}
