{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<h1 class="textoDecorado">Cuentas de usuarios</h1>
    <br/><br/>
<table class="tableCSS">
  <thead>
    <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th>Nombre Completo</th>
        <th>Estado</th>
        <th>ROL</th>
        <th>Estatus</th>
        <th></th>
        <th>Ver</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
        <tr class="{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
            <td>{% if usuario.estado %}{{ usuario.estado.nombre }}{% endif %}</td>
            <td>{{ usuario.roledescripcion }}</td>
            <td>{% if usuario.isEnabled %}
                    <font color="green">Activada</font>
                {%else%}
                    <font color="red">Desactivada</font>
                {% endif %}
            </td>
            <td>{% if usuario.locked %}
                    <img src="{{ asset('bundles/inhack20user/images/bloqueado.png') }}" width="24" height="24" />
                {%else%}
                    <img src="{{ asset('bundles/inhack20user/images/desbloqueado.png') }}" width="24" height="24" />
                {% endif %}
            </td>
            <td><a class="ajaxContenido" href="{{ path('fos_user_ver_usuario', { 'id': usuario.id }) }}">
                      <img src="{{ asset('bundles/inhack20user/images/usuario.gif') }}" width="24" height="24" />
                  </a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
    <br/><br/>
    <p align="right">
                <a href="{{ path('fos_user_registration_register') }}"><button id="btnBuscar" class="css3button" style="min-width: 10px">
                <img src="{{ asset('bundles/inhack20user/images/registrar.png') }}" width="16" height="16" alt="" />
                Registrar</button></a>
    </p>
{% endblock fos_user_content %}


