{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    {% include 'FOSUserBundle:Profile:show_content.html.twig' with {'user' : usuario} %}
    
<table align="center" border="0">
  <tr>
    <td>
        <a class="ajaxContenido" href="{{ path('fos_user_change_password_usuario', { 'id': usuario.id }) }}">
                    <button class="css3button" >
                        <img src="{{ asset('bundles/inhack20user/images/cambiarContrasena.png') }}" width="24" height="24" />
                        Cambiar Contrase&ntilde;a
                    </button>
        </a>  
    </td>
  </tr>
</table>
    <br/><br/><br/>
    <table border="0" align="center">
        <tr>
            <td>
                <a class="ajaxContenido" href="{{ path('fos_user_editar_usuario', { 'id': usuario.id }) }}">
                    <button class="css3button" >
                        <img src="{{ asset('bundles/inhack20user/images/editar.png') }}" width="24" height="24" />
                        Editar
                    </button>
                 </a>
                 &nbsp;&nbsp;&nbsp;
            </td>
            <td>
               <a class="ajaxContenido" href="{{ path('fos_user_lista_usuarios') }}">
                    <button class="css3button" >
                        <img src="{{ asset('bundles/inhack20user/images/regresar.png') }}" width="24" height="24" />
                        Regresar
                    </button>
                 </a>  
        </tr>
    </table>
{% endblock fos_user_content %}