{% extends 'INHack20ConsultorioBundle::layout.html.twig' %}
{% block contenido %}
<div class="center">
    <h1 class="t1 separator-bottom">Paciente</h1>
    <table class="tabla-1">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr class="odd">
                <th>Nombre Completo</th>
                <td>{{ entity.nombreCompleto }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ entity.edad }}</td>
            </tr>
            <tr class="odd">
                <th>Diagnostico</th>
                <td>{{ entity.diagnostico }}</td>
            </tr>
            <tr>
                <th>Tratamiento</th>
                <td>{{ entity.tratamiento }}</td>
            </tr>
            <tr class="odd">
                <th>Fecha</th>
                <td>{{ entity.fechaCreado|date('d/m/Y g:i a') }}</td>
            </tr>
        </tbody>
    </table>
    <div class="separator-top">
        <a class="boton-v" href="{{ path('paciente_edit', { 'id': entity.id }) }}">
            Editar
        </a>
            &nbsp;
        <a class="boton-v" href="{{ path('paciente') }}">
            Regresar
        </a>
    </div>
</div>
{% endblock %}