
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <br/>
    <fieldset>
        <legend>Datos</legend>
            {{ form_widget(form.user,{'attr' : {'align' : 'center'} }) }}
            <table align="center"><tr><td>{{ form_rest(form) }}</td></tr></table>
            <p align="center">
                    <button type="submit" class="css3button">
                        <img src="{{ asset('bundles/inhack20user/images/guardar.png') }}" width="16" height="16" alt="" />
                        {{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
            </p>
    </fieldset>
</form>
