{% extends 'INHack20ConsultorioBundle::layout.html.twig' %}
{% block contenido %}
<div class="center">
    <h1 class="t1 center separator-bottom">Tipo de Consulta</h1>

    <table class="record_properties tabla-1">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr class="odd">
                <th>Acronimo</th>
                <td>{{ entity.acronimo }}</td>
            </tr>
            <tr>
                <th>Significado</th>
                <td>{{ entity.significado }}</td>
            </tr>
            <tr class="odd">
                <th>Creado</th>
                <td>{{ entity.creado|date('Y-m-d h:i:s a') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="separator-top">
        <a class="boton-v" href="{{ path('tipoconsulta_edit', { 'id': entity.id }) }}">
            Editar
        </a>
            &nbsp;
        <a class="boton-v" href="{{ path('tipoconsulta') }}">
            Regresar
        </a>
    </div>
</div>
{% endblock %}