<div class="center">
    {% include 'FOSUserBundle:Profile:show_content.html.twig' with {'user' : usuario} %}
    <br/><br/>
    <fieldset>
        <legend>Restaurar Contrase&ntilde;a</legend>
            
            <form action="{{ path('fos_user_change_password_usuario', { 'id': usuario.id }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                {{ form_widget(form,{'attr' : {'align' : 'center'} }) }}
                <br/><br/>
                <p align="center">
                    <button type="submit" class="boton-v">
                        <img src="{{ asset('bundles/inhack20user/images/guardar.png') }}" width="16" height="16" alt="" />
                        {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
                </p>
            </form>
    </fieldset>
</div>